/* FONTS DEFINITIONS: _FONTS.SCSS */

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Variable.ttf");
  font-weight: 1 999;
  font-optical-sizing: auto;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Italic-Variable.ttf");
  font-weight: 1 999;
  font-optical-sizing: auto;
  font-style: italic;
}

@font-face {
  font-family: "Crimson Pro";
  src: url("../fonts/CrimsonPro-Variable.ttf");
  size-adjust: 120%;
}

@font-face {
  font-family: "Crimson Pro";
  src: url("../fonts/CrimsonPro-Italic.ttf");
  font-style: italic;
  size-adjust: 120%;
}

@font-face {
  font-family: "DG";
  src: url("../fonts/DG-Medium.otf");
}

/* Font utitlites */

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

/* Avenir should be removed due to licensing issues */

/* 
@font-face {
  font-family: "Avenir";
  src: url("../fonts/AvenirLTStd-Black.otf");
  font-weight: 900;
}
@font-face {
  font-family: "Avenir";
  src: url("../fonts/AvenirLTStd-Heavy.otf");
  font-weight: bold;
}
@font-face {
  font-family: "Avenir";
  src: url("../fonts/AvenirLTStd-Medium.otf");
  font-weight: 500;
}
@font-face {
  font-family: "Avenir";
  src: url("../fonts/AvenirLTStd-Roman.otf");
}
@font-face {
  font-family: "Avenir";
  src: url("../fonts/AvenirLTStd-Book.otf");
  font-weight: 300;
}
@font-face {
  font-family: "Avenir";
  src: url("../fonts/AvenirLTStd-Light.otf");
  font-weight: 200;
} */

/* @font-face {
  font-family: "Calluna";
  src: url("../fonts/Calluna-Regular.otf");
} */
