@use "../colors";

@layer dgns.sheets {
  .application.dgns-roll {
    display: flex;
    justify-content: center;

    input.field-input {
      &.difficulty {
        height: 48px;
        width: 64px;
        text-align: center;
        font-size: var(--font-size-32);
        font-weight: 700;

        border-bottom: 2px solid var(--c-gold);
        border-radius: 0px;
        outline: none;
        &:hover {
          outline: 0;
          outline: none;
        }

        &:focus {
          outline: none;
        }
      }
    }

    label {
      font-family: var(--font-serif);
      font-size: var(--font-size-18);
      text-transform: uppercase;
    }

    .header {
      font-family: var(--font-serif);
      font-size: var(--font-size-32);
      text-transform: uppercase;
      text-align: center;
    }

    .section-difficulty {
      display: flex;
      flex-direction: row;
      text-align: center;
      align-items: center;
      min-height: 70px;
      gap: 20px;
      justify-content: center;
    }

    .section-input {
      display: flex;
      text-align: center;
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }
  }
}
