<div class="section-effects">

    <label>Active Modifiers</label>

    <div class="legend">
        <div class="name">Source</div>
        <div class="mod">Modifier</div>
        <div class="toggle">Toggle</div>
    </div>


    <div class="effects-list">
        <div class="effect">
            <div class="name">Test effect 1</div>
            <div class="mod"></div>
            <div class="toggle"></div>
        </div>

    </div>


</div>