<section class="sheet-section tab combat {{tab.cssClass}}" data-group="main" data-tab="combat">


    <fieldset>

        <legend>STATE</legend>
        <div class="state active">
            <div class="label">ACTIVE</div>
            <input class="field-checkbox" type="checkbox" name="system.state.active" {{checked system.state.active}} />
        </div>
        <div class="state active">
            <div class="label">IN MOTION</div>
            <input class="field-checkbox" type="checkbox" name="system.state.active" {{checked system.state.active}} />
        </div>
        <div class="state active">
            <div class="label">IN MOTION</div>
            <input class="field-checkbox" type="checkbox" name="system.state.active" {{checked system.state.active}} />
        </div>





        </div>
    </fieldset>

    <fieldset>
        <legend>ACTIONS</legend>
    </fieldset>

    <fieldset>
        <legend>WEAPONS</legend>
    </fieldset>





</section>