<div class="modes-container">

    <dgns-primal-focus name="system.modes.primalFocus" value="{{system.modes.primalFocus}}"
        {{#unless isEditMode}}locked{{/unless}}>
    </dgns-primal-focus>

    <dgns-faith-will name="system.modes.faithWillpower" value="{{system.modes.faithWillpower}}"
        {{#unless isEditMode}}locked{{/unless}}>
        </dgns-primal-focus>


</div>