<div class="modes-container">
    <div class="primalFocus">
        <a>DGNS.Primal</a>
        <a>DGNS.Focus</a>
    </div>
    <div class="faithWillpower">
        <a>DGNS.Faith</a>
        <a>DGNS.Willpower</a>
    </div>
</div>