<div class="sheet-header">

  <div class="sheet-background">
    <img class="background-sheet-image" src="{{system.backgroundImage}}" />
  </div>



  <div class="center-container-header">

    <input class="field-input subtitle" type="text" name="system.subtitle" value="{{system.subtitle}}" />

    <img class="item-image" src="{{document.img}}" data-edit="img" data-action="editImage" title="{{document.name}}" />

  </div>

</div>