<div class="v2-titlebar"></div>
            <div class="square little left"></div>
            <svg class="start-line">
                <line x1="0%" y1="5" x2="88%" y2="5" class="line-stroke"></line>
                <line x1="88%" y1="5" x2="100%" y2="11" class="line-stroke"></line>
            </svg>
            <svg class="title-line">
                <line x1="0" y1="11" x2="100%" y2="11" class="line-stroke"></line>
            </svg>
            <div class="middle-name">localize header</div>
            <svg class="title-line">
                <line x1="0" y1="11" x2="100%" y2="11" class="line-stroke"></line>
            </svg>
            <svg class="end-line">
                <line x1="0%" y1="11" x2="12%" y2="5" class="line-stroke"></line>
                <line x1="12%" y1="5" x2="100%" y2="5" class="line-stroke"></line>
            </svg>
            <div class="square little right"></div>

</div>