<div class="sheet-header">

    <div class="sheet-background">
        {{#if system.backgroundImage}}
            <img class="background-sheet-image" src="{{system.backgroundImage}}" />
        {{/if }}
    </div>



    <div class="center-container-header">

        <img class="item-image" src="{{document.img}}" data-edit="img" data-action="editImage" title="{{document.name}}"
            width="200" height="200" />

    </div>

</div>