<div class="app-container">
    {{> "systems/degenesisnext/templates/rolls/partials/roll.action.hbs" roll }}
    {{> "systems/degenesisnext/templates/rolls/partials/roll.configuration.hbs" roll }}
    {{> "systems/degenesisnext/templates/rolls/partials/roll.effects.hbs" roll}}
    {{> "systems/degenesisnext/templates/rolls/partials/roll.summary.hbs" roll}}
    {{> "systems/degenesisnext/templates/rolls/partials/roll.buttons.hbs" roll}}
</div>