<div class="sheet-group-header">

  <div class="line-left"><svg>
      <path
        d="M9.938,1.452L18.424,9.937L9.938,18.422L1.453,9.937L9.938,1.452Z"
        class="line"
      />
      <path d="M18.424,9.937L540,9.937" class="line" />
    </svg></div>
  <div class="header">{{localize header}}</div>
  <div class="line-right"><svg>

      <path
        d="M9.938,1.452L18.424,9.937L9.938,18.422L1.453,9.937L9.938,1.452Z"
        class="line"
      />

      <path d="M18.424,9.937L540,9.937" class="line" />

    </svg></div>

</div>