<div class="action">

  <div class="header">{{skill}}</div>

  <div class="section-difficulty">

    <button data-action="decreaseDifficulty">-</button>

    <div class="section-input">
      <input
        class="field-input difficulty"
        type="number"
        name="roll.difficulty"
        value="{{roll.difficulty}}"
      />
      <label>Difficulty</label>
    </div>

    <button data-action="increaseDifficulty">+</button>
  </div>

</div>