.app.window-app {
  .window-header {
    border: 0;
    .window-title {
      font-family: "Crimson Pro";
      font-weight: 500;
    }
  }
  .window-content {
    background: transparent;
    padding-right: 4px;
  }
}

.theme-light {
  .app.window-app {
    color: black;
    background: url("../ui/backgrounds/light_02.jpg");
  }
}

.theme-dark {
  .app.window-app {
    color: black;
    background: url("../ui/backgrounds/black_02.jpg");
  }
}
