.application {
  border: 0;

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: "Avenir";
    color: black;
    text-shadow: none;
  }

  .window-header {
    border: 0;
    .window-title {
      font-family: "Crimson Pro";
      font-weight: 500;
      text-shadow: none;
      font-size: var(--font-size-14);
    }
  }
}

.theme-light {
  .application {
    background: url("../ui/backgrounds/light_02.jpg");
    .window-header {
      color: black;
      background-color: transparent;
    }
  }
}

.theme-dark {
  .application {
    background: url("../ui/backgrounds/dark_01.jpg");
    .window-header {
      color: black;
      background-color: transparent;
    }
  }
}
