button {
  font-family: "Crimson Pro";
  font-size: var(--font-size-12);
  text-transform: uppercase;
  padding: 4px 4px;
  border-radius: var(--border-radius-sm);
  min-height: fit-content;
}

.theme-dark {
  button {
    border: 1px solid var(--c-gold);
    color: var(--c-gold-3);
    background-color: var(--c-grey-8);
    transition: background 100ms ease-in-out;

    &:hover {
      color: var(--c-grey-0);
      background-color: var(--c-pred);
    }
  }
}

.theme-light {
  button {
    border: 1px solid var(--c-gold);
    color: var(--c-grey-8);
    background-color: white;
    transition: background 100ms ease-in-out;

    &:hover {
      color: var(--c-antiflash);
      background-color: var(--c-pred);
    }
  }
}
