/* #sidebar {
  .settings-sidebar {
    button {
      margin: 4px 0px;
    }
  }

  .system-badge {
    align-self: center;
    justify-content: center;
    margin: 0 !important;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--font-size-16);

    span {
      margin: 5px 0px;
    }

    img {
      border: none;
      width: 70%;
    }
  }
}

.theme-light {
  .settings-sidebar {
    .system-badge {
      fill: var(--c-grey-8);
    }
  }
}

.theme-dark {
  .settings-sidebar {
    .system-badge {
      fill: var(--c-antiflash);
    }
  }
}
 */
