@use "partials";
@use "../colors";

@layer dgns.sheets {
  // global elements styling
  // dropdown classes

  :root {
    --dgns-line-width: 1px;
    --dgns-thin-line-width: 1px;
    --dgns-border-radius-small: 4px;
  }

  .theme-dark,
  .theme-dark * {
    --hr-gradient: linear-gradient(
      90deg,
      transparent 0%,
      var(--dgns-ui-secondary) 50%,
      transparent 100%
    );
    --dgns-ui-primary: var(--c-gold-4);
    --dgns-ui-secondary: var(--c-gold-7);
    --dgns-ui-accent: var(--c-pred-5);
    --dgns-ui-background: hsla(from var(--dgns-ui-secondary) h 0 6/0.98);
    --dgns-ui-tabs-primary: var(--c-gold-7);
    --dgns-ui-tabs-secondary: var(--c-resin-7);
  }
  .theme-light, .theme-light * /* .application.sheet.dgns-character,
  .application.sheet.dgns-character.theme-light */ {
    --hr-gradient: linear-gradient(
      90deg,
      transparent 0%,
      var(--dgns-ui-secondary) 50%,
      transparent 100%
    );
    --dgns-ui-primary: var(--c-gold-6);
    --dgns-ui-secondary: var(--c-gold-6);
    --dgns-ui-background: rgba(245, 245, 245, 0.98);
    --dgns-ui-control-content: var(--c-gold-6);
    --dgns-ui-control-bg: #f0f0f0fa;
    --dgns-ui-hover-control-content: rgba(240, 240, 240, 0.98);
    --dgns-ui-hover-control-bg: var(--c-pred);
  }

  .scrollable {
    scrollbar-gutter: auto;
    padding: 0;
    margin: 0;
    padding-right: 5px;
  }

  .application.sheet {
    backdrop-filter: blur(4px);
    .mode-slider {
      margin-right: 5px;
    }

    // Fix for minimizing application
    &.minimized {
      .window-header {
        .mode-slider {
          display: none !important;
        }
        .window-title {
          visibility: visible;
        }
      }
    }

    nav {
      &.top-tabs {
        margin: -15px 0px -10px 0px;
      }
    }

    // TABS

    .tabs {
      display: flex;
      overflow: hidden;

      min-height: 32px;
      // Following styles breaking common tabs in default appv2 windows

      // max-height: 32px;
      width: fit-content;

      flex-grow: 1;
      gap: 0;

      justify-content: center;
      align-items: center;
      align-self: center;

      flex-direction: row;

      padding: 3px;

      background-color: rgba(from var(--dgns-ui-control-bg) r g b / 0.45);
      border: var(--dgns-line-width) solid var(--dgns-ui-secondary);
      border-radius: var(--dgns-border-radius-small);

      a {
        padding: 0px 10px;
        //border: 2px solid var(--dgns-ui-primary);
        flex-grow: 1;
        font-family: var(--font-headers);
        font-size: var(--font-size-13);
        font-weight: 600;
        text-transform: uppercase;
        text-shadow: none;

        position: relative;
        color: var(--dgns-ui-primary);
        line-height: normal;

        transition: color 50ms ease-in-out;

        &:hover {
          color: var(--dgns-ui-accent);
        }

        &::after {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          width: 80px;
          height: 40px;

          top: 10px;

          transition: opacity 300ms;

          content: "&nbsp";
          background: var(--dgns-ui-secondary);
          filter: blur(10px);
          border-radius: 50%;
          pointer-events: none;
          opacity: 0;
        }

        &.active::after {
          opacity: 0.5;
        }

        /*  &.active {
          background-color: var(--dgns-ui-primary);
          color: var(--dgns-ui-background);
        } */
      }

      &.vertical {
        height: fit-content;
        flex-direction: column;
        min-height: 32px;
        max-height: none;
        min-width: 32px;
        max-width: 32px;

        a {
          //background-color: aqua;
          min-height: 32px;
          padding: 10px 0px;
          text-align: center;

          &::after {
            top: 0;
            left: 0;
          }
        }
      }
    }

    .tab {
      height: 100%;
      flex-direction: column;

      &.active {
        display: flex;
      }
    }
  }

  .section-scrollable {
    flex-direction: column;
    overflow-y: hidden;
    .container-scrollable {
      padding-right: 3px;
      overflow-y: auto;
      scroll-padding: 10px;
    }
  }

  /* styles for customizable sheets with changable background */
  .sheet-customizable {
    .window-header {
      position: absolute;
      width: 100%;
    }
    .window-content {
      padding-top: 36px;
    }

    &:not(.minimized, .minimizing, .maximizing) {
      .window-title {
        visibility: hidden;
      }
    }

    .sheet-background {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      opacity: 1;
      z-index: -1;
      pointer-events: none;
      //  clip-path: inset(calc($background-cult-image-offset + 30px) 0px 0px 0px);

      img {
        object-fit: cover;
        border: none;
        width: 100%;
        height: 100%;
        position: relative;

        mask-image: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0.3),
          rgba(0, 0, 0, 0)
        );
        z-index: 0;
      }
    }
  }

  .sheet-section {
    margin-top: 10px;
    flex: 0 1 auto;
    min-height: 0;
  }

  .section-dropdown {
    .section-header {
      display: flex;
      gap: 0.3rem;
      justify-content: start;
      align-items: center;
      margin-bottom: 0.3rem;

      font-size: var(--font-size-14);
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
    }

    .section-body {
      &.collapsed {
        display: none;
      }
    }
  }

  .group-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .group-list {
    margin: 5px;
    padding: 0;
    li {
      display: flex;
      margin: 0px 0px 2px 0px;
      height: 20px;
      gap: 5px;
      justify-content: center;
      align-items: center;
      font-family: var(--font-serif);
      font-size: var(--font-size-14);
      letter-spacing: 0.1em;
      text-align: center;
      text-transform: uppercase;
    }

    input {
      height: 20px;
    }

    button {
      display: flex;
      min-width: 0;
      min-height: 0;
      background: none;
      border: none;
    }
  }

  .group-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    min-height: 20px;

    button {
      min-height: 0;
      min-width: 0;
      height: 20px;
    }

    h1,
    h2,
    h3,
    h4 {
      margin: 0;
    }
  }
}
