@use "../colors";
@use "partials";
@use "partials/sheet.variables" as *;

//@use "tables/";
@use "../components/document.table";

@layer dgns.sheets.character {
  /* -------------------------------------------------------------------------- */
  /*                             Character sheet                                */
  /* -------------------------------------------------------------------------- */
  .application.sheet.dgns-character {
    background: (var(--dgns-ui-background));
    border: var(--dgns-line-width) solid var(--dgns-ui-secondary);
    background-repeat: repeat;
    background-size: 600px;

    &:not(.minimized, .minimizing, .maximizing) {
      min-height: 850px;
      min-width: 700px;
    }

    --dgns-table-header-height: var(--font-size-24);

    /* -------------------------------------------------------------------------- */
    /*                          General Inputs / Controls                         */
    /* -------------------------------------------------------------------------- */

    /* ------------------------------ Sheet Header ------------------------------ */

    .character-header {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: center;

      .image {
        width: 150px;
        height: 150px;
        position: relative;
        .border {
          --dgns-line-width: 0.5px; //override to thin some elements
          pointer-events: none;
          position: absolute;
          z-index: 10;
        }
        .content {
          width: 130px;
          height: 130px;
          position: relative;
          margin: 10px auto;
        }
      }

      .container-left {
        flex: 1;
        display: flex;
        flex-direction: row;
        gap: 5px;

        .content {
          flex-grow: 1;
        }

        .modes-container {
          display: flex;
          flex-direction: column;
          align-items: center;
          flex: 1;
        }

        .primalFocus {
          flex: 2;
          display: flex;
          align-items: center;
        }

        .faithWillpower {
          flex: 1;
          display: flex;
          align-items: center;
        }
      }
      .container-middle {
        display: flex;
        width: 150px;
      }
      .container-right {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 1;
        gap: 5px;
      }
    }

    .character-header-under {
      margin: 10px 0px;
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: center;

      > * {
        display: flex;
        flex-direction: row;
        flex: 1;
      }

      .container-left {
        justify-content: space-evenly;
      }

      .container-center {
        justify-content: center;
      }

      .container-right {
        justify-content: space-evenly;
      }
    }

    .field-under {
      display: flex;
      flex-direction: column;

      justify-content: center;
      align-items: center;

      label,
      a {
        text-transform: uppercase;
        font-family: var(--font-serif);
        font-size: var(--font-size-16);
        font-weight: 500;
      }

      input {
        text-align: center;
        font-size: var(--font-size-14);
        font-weight: 600;
        padding: 0 !important;
      }
    }

    .field-row {
      display: flex;
      flex-direction: row;
      padding: 0px 5px;
      gap: 5px;
      width: 100%;
      line-height: 85%;

      align-items: center;

      label,
      a {
        flex: 1;
        align-self: left;
        text-transform: uppercase;
        font-family: var(--font-serif);
        font-size: var(--font-size-16);
        font-weight: 500;
      }

      input {
        width: 30px;
        height: 30px;
        align-self: right;
        text-align: center;
        font-size: var(--font-size-14);
        font-weight: 600;
        padding: 0 !important;
      }
    }

    .details-container {
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .ccc-container {
      display: grid;

      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;

      align-items: center;
      justify-content: center;

      /*  flex-direction: row;
      justify-content: center; */
      gap: 30px;

      .cult,
      .concept,
      .culture {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 30px 130px 30px;

        grid-template-areas:
          "Controls"
          "Icon"
          "Label";

        .controls {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center; /* center the label */

          label {
            text-align: center;
          }

          button {
            position: absolute;
            right: 0;
          }
        }

        .label {
          grid-area: "Label";
          justify-self: center;
          text-align: center;
          word-break: break-word;
        }

        .icon {
          display: flex;
          height: 100%;
          grid-area: "Icon";
          justify-content: center;
          align-items: center;

          transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);

          &:hover {
            scale: 1.1;
            filter: brightness(1.1);
          }
        }
      }

      label {
        text-transform: uppercase;
        &.header {
          font-weight: 700;
          font-size: var(--font-size-14);
        }
        &.value {
          font-weight: 500;
          font-family: var(--font-serif);
          font-size: var(--font-size-18);
        }
      }

      > * {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
      }

      img {
        aspect-ratio: 1;
        width: 120px;
        height: 120px;
      }

      .drop {
        border-radius: 10px;
        margin: 10px 0px;
        width: 135px;
        height: 135px;
        background: var(--dgns-ui-background);
      }
    }

    .backgrounds-container {
      display: flex;
      flex-direction: column;
      margin-top: auto;

      .backgrounds {
        display: flex;
        flex-direction: row;
        gap: 5px;
      }
    }

    .attributes-skills-container {
      --h: var(--dgns-table-header-height, var(--font-size-24));

      display: grid;
      padding: 0;
      margin: 0;
      height: 100%;

      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 50% 50%;

      column-gap: 20px;
      row-gap: 5px;

      margin-bottom: 5px;

      .attribute-header {
        corner-shape: bevel;
        border: var(--dgns-line-width) solid var(--dgns-ui-secondary);
        border-radius: var(--h);
        display: flex;
        align-items: center;
        padding: 0 0 0 15px;
        height: var(--h);
        width: 100%;

        font-family: var(--font-body);
        font-size: var(--font-size-12);

        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 0.1em;
      }

      .attribute-value {
        border: calc(var(--dgns-line-width) + 1px) solid
          var(--dgns-ui-secondary);
        background: #000;
        position: absolute;
        width: calc(var(--h) + 2px);
        height: calc(var(--h) + 2px);
        right: calc(var(--h) / 2);
        transform: rotate(45deg);

        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          border-color: purple;
        }
        &:focus-within {
          border-color: red;
        }

        font-weight: 700;
        color: var(--dgns-ui-primary);

        .diamond-value,
        input {
          transform: rotate(315deg);
          line-height: 1;
        }

        input {
          color: var(--dgns-ui-primary);
          text-align: center;
          padding: 0;
          outline: none;
          background: none;

          &::selection {
            background: transparent;
            color: inherit;
          }
        }
      }

      .attribute-group {
        display: flex;
        flex-direction: column;

        /*       &:hover {
          color: var(--dgns-ui-contrast);
        } */

        .attribute {
          display: flex;
          flex-direction: row;
          width: 100%;
          justify-content: center;
          align-items: center;
          position: relative;
        }
      }

      .skills {
        flex: 1;
        height: 100%;
        margin-bottom: 5px;
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0 5px;

        .skill {
          display: flex;
          flex-direction: row;
          height: var(--h);
          align-items: center;
        }

        .skill-header {
          height: var(--h);
          width: 100%;

          font-family: var(--font-serif);
          font-size: var(--font-size-15);

          text-transform: uppercase;
          font-weight: 400;
          letter-spacing: 0.1em;
        }

        .skill-value {
          aspect-ratio: 1;
          display: flex;
          // border: var(--dgns-line-width) solid var(--dgns-ui-secondary);
          justify-content: center;
          align-items: center;
          width: calc(var(--h) - 2px);
          height: calc(var(--h) - 2px);

          input,
          label {
            font-size: var(--font-size-14);
            color: var(--dgns-ui-primary);
            font-weight: 700;

            line-height: 1;
          }

          input {
            text-align: center;
            padding: 0;
            width: var(--h);
            height: var(--h);
          }
        }
      }
    }
  }

  hr {
    margin: 10px 0px;
    height: var(--dgns-line-width);
  }

  /* -------------------------------------------------------------------------- */
  /*                                  Sections                                  */
  /* -------------------------------------------------------------------------- */

  /* ---------------------------------- Tabs ---------------------------------- */

  section.sheet-tabs {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* ----------- Potentials ----------- */

  //todo: fix this
  .potential-group {
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    min-height: 0;
    .controls {
      min-width: 50px !important;
    }
    .entries {
      flex: 1 1 auto;
      min-height: 0; /* KLUCZOWE */
      overflow: auto;
    }
  }

  /* --------------------------------- Effects -------------------------------- */

  section.effects {
  }

  /* -------------------------------- Inventory ------------------------------- */

  section.inventory {
  }
}
