@use "../colors";
@use "partials";
@use "partials/sheet.variables" as *;

//@use "tables/";

@layer dgns.sheets.character {
  /* -------------------------------------------------------------------------- */
  /*                             Character sheet                                */
  /* -------------------------------------------------------------------------- */
  .application.sheet.dgns-character {
    background: (var(--dgns-ui-background));
    border: var(--dgns-line-width) solid var(--dgns-ui-secondary);
    background-repeat: repeat;
    background-size: 600px;

    &:not(.minimized, .minimizing, .maximizing) {
      min-height: 850px;
      min-width: 700px;
    }

    --dgns-table-header-height: var(--font-size-24);

    /* -------------------------------------------------------------------------- */
    /*                          General Inputs / Controls                         */
    /* -------------------------------------------------------------------------- */

    .items-table {
      --h: var(--dgns-table-header-height, var(--font-size-24));

      .header {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        height: var(--h);
        font-size: var(--font-size-12);
        font-family: var(--font-sans);
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 0.1em;

        .name {
          corner-shape: bevel;
          border: var(--dgns-line-width) solid var(--c-gold-7);
          border-radius: var(--h);
          display: flex;
          align-items: center;
          padding: 0 25px;
          height: 100%;
          min-width: 200px;
        }

        .transition {
          width: calc(4 * var(--h));
          height: var(--h);

          svg.line {
            line {
              stroke: var(--c-gold-7);
              stroke-width: var(--dgns-line-width);
            }
          }
        }

        .legends {
          display: flex;
          align-items: center;
          justify-content: flex-end;

          gap: 10px;
          width: 100%;

          height: var(--h);
          border-bottom: var(--dgns-line-width) solid var(--c-gold-7);
        }
      }

      .entries {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 10px 0px;
        gap: 10px;

        .entry {
          display: flex;
          flex-direction: row;
          flex: 1;
          width: 100%;
          gap: 10px;
        }
      }

      .caption {
        font-family: var(--font-sans);
        font-size: var(--font-size-14);
        font-weight: 700;
        text-transform: uppercase;
      }

      .subcaption {
        font-family: var(--font-serif);
        font-size: var(--font-size-12);
        text-transform: uppercase;
      }

      .field {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: var(--font-size-12);
        min-width: 60px;

        &.name {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          flex: 1;
        }

        &.image {
          min-width: 0;
          border: var(--dgns-line-width) solid var(--c-gold-7);
          width: var(--font-size-32);
          height: var(--font-size-32);
        }

        &.controls {
          min-width: 100px;
          font-size: var(--font-size-14);
          gap: 10px;
        }
      }
    }

    /* ------------------------------ Sheet Header ------------------------------ */

    .character-header {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: center;

      .image {
        width: 150px;
        height: 150px;
        position: relative;
        .border {
          --dgns-line-width: 0.5px; //override to thin some elements
          pointer-events: none;
          position: absolute;
          z-index: 10;
        }
        .content {
          width: 130px;
          height: 130px;
          position: relative;
          margin: 10px auto;
        }
      }

      .container-left {
        flex: 1;
        display: flex;
        flex-direction: row;
        gap: 5px;

        .content {
          flex-grow: 1;
        }

        .modes-container {
          display: flex;
          flex-direction: column;
          align-items: center;
          flex: 1;
        }

        .primalFocus {
          flex: 2;
          display: flex;
          align-items: center;
        }

        .faithWillpower {
          flex: 1;
          display: flex;
          align-items: center;
        }
      }
      .container-middle {
        display: flex;
        width: 150px;
      }
      .container-right {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 1;
        gap: 5px;
      }
    }

    .character-header-under {
      margin: 10px 0px;
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: center;

      > * {
        display: flex;
        flex-direction: row;
        flex: 1;
      }

      .container-left {
        justify-content: space-evenly;
      }

      .container-center {
        justify-content: center;
      }

      .container-right {
        justify-content: space-evenly;
      }
    }

    .field-under {
      display: flex;
      flex-direction: column;

      justify-content: center;
      align-items: center;

      label,
      a {
        text-transform: uppercase;
        font-family: var(--font-serif);
        font-size: var(--font-size-16);
        font-weight: 500;
      }

      input {
        text-align: center;
        font-size: var(--font-size-14);
        font-weight: 600;
        padding: 0 !important;
      }
    }

    .field-row {
      display: flex;
      flex-direction: row;
      padding: 0px 5px;
      gap: 5px;
      width: 100%;
      line-height: 85%;

      align-items: center;

      label,
      a {
        flex: 1;
        align-self: left;
        text-transform: uppercase;
        font-family: var(--font-serif);
        font-size: var(--font-size-16);
        font-weight: 500;
      }

      input {
        width: 30px;
        height: 30px;
        align-self: right;
        text-align: center;
        font-size: var(--font-size-14);
        font-weight: 600;
        padding: 0 !important;
      }
    }

    .details-container {
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .ccc-container {
      display: grid;

      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;

      align-items: center;
      justify-content: center;

      /*  flex-direction: row;
      justify-content: center; */
      gap: 30px;

      .cult,
      .concept,
      .culture {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 30px 130px 30px;

        grid-template-areas:
          "Controls"
          "Icon"
          "Label";

        .controls {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center; /* center the label */

          label {
            text-align: center;
          }

          button {
            position: absolute;
            right: 0;
          }
        }

        .label {
          grid-area: "Label";
          justify-self: center;
          text-align: center;
          word-break: break-word;
        }

        .icon {
          display: flex;
          height: 100%;
          grid-area: "Icon";
          justify-content: center;
          align-items: center;

          transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);

          &:hover {
            scale: 1.1;
            filter: brightness(1.1);
          }
        }
      }

      label {
        text-transform: uppercase;
        &.header {
          font-weight: 700;
          font-size: var(--font-size-14);
        }
        &.value {
          font-weight: 500;
          font-family: var(--font-serif);
          font-size: var(--font-size-18);
        }
      }

      > * {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
      }

      img {
        aspect-ratio: 1;
        width: 120px;
        height: 120px;
      }

      .drop {
        border-radius: 10px;
        margin: 10px 0px;
        width: 135px;
        height: 135px;
        background: var(--dgns-ui-background);
      }
    }

    .backgrounds-container {
      display: flex;
      flex-direction: column;
      margin-top: auto;

      .backgrounds {
        display: flex;
        flex-direction: row;
        gap: 5px;
      }
    }

    .lp-container {
      display: flex;
      width: 100%;
      margin-top: 5px;
      flex-direction: row;

      gap: 5px;
      > * {
        flex: 1;
      }

      button {
        max-width: 24px;
        max-height: 24px;
      }

      label {
        text-transform: uppercase;
        font-size: var(--font-size-14);
        font-weight: 600;
      }
    }

    .legacies-container {
      display: flex;
      flex-direction: column;

      .legacies-toolbar {
        display: flex;
        gap: 10px;
        flex-direction: row-reverse;
        justify-content: flex-end;
        align-items: center;
      }
    }

    .potentials-container {
      display: flex;
      flex-direction: column;

      .potentials-toolbar {
        display: flex;
        gap: 10px;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
      }
    }

    .attributes-skills-container {
      display: grid;
      padding: 0;
      margin: 0;
      height: 100%;

      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 50% 50%;

      column-gap: 20px;
      row-gap: 5px;

      margin-bottom: 10px;

      .attribute-group {
        display: flex;
        flex-direction: column;

        /*       &:hover {
          color: var(--dgns-ui-contrast);
        } */

        .attribute {
          display: flex;
          flex-direction: row;
          width: 100%;
          justify-content: center;
          align-items: center;

          label {
            &.name {
              flex: 1;
            }

            &.value {
              font-family: var(--font-body);
              font-weight: 600;
            }

            font-family: var(--font-body);
            font-size: var(--font-size-18);
            text-transform: uppercase;
            font-weight: 800;
            letter-spacing: 0.05em;
          }

          input {
            width: 24px;
            height: 24px;
            padding: 0;
            line-height: normal;
            text-align: center;
            font-weight: 700;
          }
        }

        .skills {
          flex: 1;
          height: 100%;
          margin-top: 5px;
          display: flex;
          flex-direction: column;
          justify-content: space-around;

          gap: 5px;

          .skill {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: center;
            align-items: center;

            //todo: maybe move it to utility class or something
            .disabled {
              text-decoration: line-through;
              color: gray;
            }

            label,
            a {
              &.name {
                flex: 1;
              }

              &.value {
                font-family: var(--font-body);
                font-weight: 600;
              }

              font-family: var(--font-serif);
              font-size: var(--font-size-16);
              text-transform: uppercase;
              letter-spacing: 0.05em;
            }

            input {
              width: 24px;
              height: 24px;
              padding: 0;
              line-height: normal;
              text-align: center;
            }
          }
        }
      }
    }

    /* -------------------------------------------------------------------------- */
    /*                                  Sections                                  */
    /* -------------------------------------------------------------------------- */

    /* ---------------------------------- Tabs ---------------------------------- */

    section.sheet-tabs {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    /* --------------------------------- Effects -------------------------------- */

    section.effects {
    }

    /* -------------------------------- Inventory ------------------------------- */

    section.inventory {
    }
  }
}
