<div class="sheet-footer">
  <div class="line-left">
    <svg>
        <path
          d="M9.938,1.452l8.486,8.485l-8.486,8.485l-8.485,-8.485l8.485,-8.485Z"
         class="square" 
        />
        <path
          d="M18.424,9.937l73.681,0l14.063,14.063l13.832,0"
          class="line"
        />
      </svg>
  </div>
  <div class="line">
    <svg style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:square;stroke-linejoin:round;stroke-miterlimit:2;">
    <path d="M0.119,24L900.119,24" class="line"/>
</svg>



  </div>

  <div class="line">
      <svg style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:square;stroke-linejoin:round;stroke-miterlimit:2;">
    <path d="M0.119,24L900.119,24" class="line"/>
  </div>
  <div class="line-right">
      <svg>
        <path
          d="M9.938,1.452l8.486,8.485l-8.486,8.485l-8.485,-8.485l8.485,-8.485Z"
         class="square" 
        />
        <path
          d="M18.424,9.937l73.681,0l14.063,14.063l13.832,0"
          class="line"
        />
      </g></svg>
  </div>
</div>