@use "partials";
@use "../colors";

@layer dgns.sheets {
  // global elements styling
  // dropdown classes

  .theme-dark,
  .theme-dark * {
    --dgns-ui-primary: var(--c-gold);
    --dgns-ui-background: rgba(15, 15, 15, 0.97);
  }
  .theme-light, .theme-light * /* .application.sheet.dgns-character,
  .application.sheet.dgns-character.theme-light */ {
    --dgns-ui-primary: var(--c-gold-6);
    --dgns-ui-secondary: var(--c-gold-6);
    --dgns-ui-background: rgba(245, 245, 245, 0.98);
    --dgns-ui-control-content: var(--c-gold-6);
    --dgns-ui-control-bg: rgba(240, 240, 240, 0.98);
    --dgns-ui-hover-control-content: rgba(240, 240, 240, 0.98);
    --dgns-ui-hover-control-bg: var(--c-pred);
  }

  .application.sheet {
    .mode-slider {
      margin-right: 5px;
    }
    &.minimized {
      .window-header {
        .mode-slider {
          display: none !important;
        }
        .window-title {
          visibility: visible;
        }
      }
    }
  }

  .section-scrollable {
    flex-direction: column;
    overflow-y: hidden;
    .container-scrollable {
      padding-right: 3px;
      overflow-y: auto;
      scroll-padding: 10px;
    }
  }

  /* styles for customizable sheets with changable background */
  .sheet-customizable {
    .window-header {
      position: absolute;
      width: 100%;
    }
    .window-content {
      padding-top: 36px;
    }

    &:not(.minimized, .minimizing, .maximizing) {
      min-height: 800px;
      min-width: 700px;

      .window-title {
        visibility: hidden;
      }
    }

    .sheet-background {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      opacity: 1;
      z-index: -1;
      pointer-events: none;
      //  clip-path: inset(calc($background-cult-image-offset + 30px) 0px 0px 0px);

      img {
        object-fit: cover;
        border: none;
        width: 100%;
        height: 100%;
        position: relative;

        mask-image: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0.3),
          rgba(0, 0, 0, 0)
        );
        z-index: 0;
      }
    }
  }

  .section-dropdown {
    .section-header {
      display: flex;
      gap: 0.3rem;
      justify-content: start;
      align-items: center;
      margin-bottom: 0.3rem;

      font-size: var(--font-size-14);
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
    }

    .section-body {
      &.collapsed {
        display: none;
      }
    }
  }

  .group-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .group-list {
    margin: 5px;
    padding: 0;
    li {
      display: flex;
      margin: 0px 0px 2px 0px;
      height: 20px;
      gap: 5px;
      justify-content: center;
      align-items: center;
      font-family: var(--font-serif);
      font-size: var(--font-size-14);
      letter-spacing: 0.1em;
      text-align: center;
      text-transform: uppercase;
    }

    input {
      height: 20px;
    }

    button {
      display: flex;
      min-width: 0;
      min-height: 0;
      background: none;
      border: none;
    }
  }

  .group-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    min-height: 20px;

    button {
      min-height: 0;
      min-width: 0;
      height: 20px;
    }

    h1,
    h2,
    h3,
    h4 {
      margin: 0;
    }
  }
}
