<div class="gmnotes-container">
    <div class="biography-header">
        <h1>{{localize "DGNS.GMNotes"}}</h1>
    </div>
    <prose-mirror class="biography-editor" name="system.gmNotes" data-document-u-u-i-d="{{document.uuid}}"
        value="{{system.gmNotes}}" collaborate="true" toggled="true">
        {{{ enriched.gmNotes }}}
    </prose-mirror>
</div>