/* -------------------------------------------------------------------------- */
/*                             Default Items Table                            */
/* -------------------------------------------------------------------------- */
div.table {
  --h: var(--dgns-table-header, var(--font-size-24));
  --controls-width: 120px;

  width: 100%;
  display: grid;
  grid-template-columns: auto auto repeat(auto-fill, 60px) var(--controls-width);

  .header {
  }

  .entry {
  }

  .transition {
    width: calc(4 * var(--h));
    height: var(--h);
  }
}
