/* 

8""""8 8"""" 8""""8 8"""" 8"""8 8"""" 8""""8 8  8""""8 
8    8 8     8    " 8     8   8 8     8      8  8      
8e   8 8eeee 8e     8eeee 8e  8 8eeee 8eeeee 8e 8eeeee 
88   8 88    88  ee 88    88  8 88        88 88     88 
88   8 88    88   8 88    88  8 88    e   88 88 e   88 
88eee8 88eee 88eee8 88eee 88  8 88eee 8eee88 88 8eee88

LIGHT/DARK THEMES INCLUDED

*/
/* RESET PROBLEMATIC STYLES */
button:hover,
button:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

a:hover,
a:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-shadow: none;
}

/* FONTS DEFINITIONS: _FONTS.SCSS */
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Variable.ttf");
  font-weight: 1 999;
  font-optical-sizing: auto;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Italic-Variable.ttf");
  font-weight: 1 999;
  font-optical-sizing: auto;
  font-style: italic;
}
/* 
@font-face {
  font-family: "Avenir";
  src: url("../fonts/AvenirLTStd-Black.otf");
  font-weight: 900;
}
@font-face {
  font-family: "Avenir";
  src: url("../fonts/AvenirLTStd-Heavy.otf");
  font-weight: bold;
}
@font-face {
  font-family: "Avenir";
  src: url("../fonts/AvenirLTStd-Medium.otf");
  font-weight: 500;
}
@font-face {
  font-family: "Avenir";
  src: url("../fonts/AvenirLTStd-Roman.otf");
}
@font-face {
  font-family: "Avenir";
  src: url("../fonts/AvenirLTStd-Book.otf");
  font-weight: 300;
}
@font-face {
  font-family: "Avenir";
  src: url("../fonts/AvenirLTStd-Light.otf");
  font-weight: 200;
} */
/* @font-face {
  font-family: "Calluna";
  src: url("../fonts/Calluna-Regular.otf");
} */
@font-face {
  font-family: "Crimson Pro";
  src: url("../fonts/CrimsonPro-Variable.ttf");
  size-adjust: 120%;
}
@font-face {
  font-family: "Crimson Pro";
  src: url("../fonts/CrimsonPro-Italic.ttf");
  font-style: italic;
  size-adjust: 120%;
}
@font-face {
  font-family: "DG";
  src: url("../fonts/DG-Medium.otf");
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Montserrat";
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.02em;
}

body {
  --color-warm-1: #ee9b3a;
  --color-warm-2: #c9593f;
  --color-warm-3: #5d142b;
  --color-cool-3: #584a75;
  --color-cool-4: #302831;
  --color-cool-5: #0b0a13;
  --color-cool-5-25: rgba(11, 10, 19, 0.25);
  --color-cool-5-50: rgba(11, 10, 19, 0.5);
  --color-cool-5-75: rgba(11, 10, 19, 0.75);
  --color-cool-5-90: rgba(11, 10, 19, 0.9);
  --color-light-1: #f7f3e8;
  --color-light-2: #efe6d8;
  --color-light-3: #e7d1b1;
  --color-light-4: #d0b8a3;
  --color-light-5: #9f8475;
  --color-light-6: #816b66;
  --color-dark-1: #111;
  --color-dark-2: #222;
  --color-dark-3: #444;
  --color-dark-4: #555;
  --color-dark-5: #666;
  --color-dark-6: #777;
  --color-level-error: #ce0707;
  --color-level-error-bg: rgba(105, 0, 8, 0.8);
  --color-level-error-border: #750003;
  --color-level-info: #59a1f6;
  --color-level-info-bg: rgba(47, 80, 132, 0.8);
  --color-level-info-border: #5c87b9;
  --color-level-success: #26b231;
  --color-level-success-bg: rgba(26, 107, 34, 0.8);
  --color-level-success-border: #1b8f23;
  --color-level-warning: #ee9b3a;
  --color-level-warning-bg: rgba(214, 150, 0, 0.8);
  --color-level-warning-border: #b18404;
  --color-scrollbar: #5d142b;
  --color-scrollbar-track: transparent;
  --color-scrollbar-border: #8d151b;
  --color-text-selection: #f7f3e8;
  --color-text-selection-bg: #584a75;
}

/* ---------------------------------------- */
/*  Typography                              */
/* ---------------------------------------- */
body {
  --font-body: "Avenir", sans-serif;
  --font-awesome: "Font Awesome 6 Pro";
  --font-awesome-duotone: "Font Awesome 6 Duotone";
  --font-monospace: monospace;
  --font-blockquote: "Signika", "Palatino Linotype", sans-serif;
  --font-size-10: 0.625rem;
  --font-size-11: 0.6875rem;
  --font-size-12: 0.75rem;
  --font-size-13: 0.8125rem;
  --font-size-14: 0.875rem;
  --font-size-15: 0.9375rem;
  --font-size-16: 1rem;
  --font-size-18: 1.125rem;
  --font-size-20: 1.25rem;
  --font-size-24: 1.5rem;
  --font-size-28: 1.75rem;
  --font-size-32: 2rem;
  --font-size-36: 2.25rem;
  --font-size-48: 3rem;
  --font-size-64: 4rem;
  --font-size-80: 5rem;
  --font-h1: "Avenir", serif;
  --font-h2: "Avenir", serif;
  --font-h3: "Avenir", sans-serif;
  --font-h4: "Avenir", serif;
  --font-h5: "Avenir", sans-serif;
  --font-h6: "Avenir", serif;
  --font-h1-size: var(--font-size-48);
  --font-h2-size: var(--font-size-32);
  --font-h3-size: var(--font-size-24);
  --font-h4-size: var(--font-size-24);
  --font-h5-size: var(--font-size-20);
  --font-h6-size: var(--font-size-24);
}

/* ---------------------------------------- */
/*  Layout                                  */
/* ---------------------------------------- */
body {
  --input-height: 2rem;
  --z-index-background: -1;
  --z-index-main: 0;
  --z-index-canvas: 0;
  --z-index-app: 30;
  --z-index-ui: 60;
  --z-index-window: 100;
  --z-index-tooltip: 9999;
  --z-index-notification: 99999;
}

/* ---------------------------------------- */
/*  Aesthetics                              */
/* ---------------------------------------- */
body {
  --background-url: url("../ui/backgrounds/setup.webp");
  --main-logo: url("../icons/vtt-512.png");
}

/* ---------------------------------------- */
/*  Applications                            */
/* ---------------------------------------- */
.window-app,
.application {
  --header-height: 36px;
  --minimized-width: 200px;
  --background: var(--color-cool-5-90);
  --color-text-primary: var(--color-light-2);
  --color-header-background: rgba(0, 0, 0, 0.5);
  --color-border: var(--color-cool-4);
  --color-fieldset-border: var(--color-light-6);
  --color-form-hint: var(--color-light-5);
  --color-form-hint-hover: var(--color-light-4);
  --color-form-label: var(--color-light-4);
  --color-form-label-hover: var(--color-light-2);
  --color-select-option-bg: transparent;
}

/* ---------------------------------------- */
/*  Forms and Form Elements                 */
/* ---------------------------------------- */
input,
select {
  --input-background-color: var(--color-cool-4);
  --input-border-color: transparent;
  --input-text-color: var(--color-light-3);
  --input-placeholder-color: var(--color-light-4);
  --input-focus-outline-color: var(--color-cool-3);
}

input:focus,
select:focus {
  --input-text-color: var(--color-light-1);
}

input:disabled,
select:disabled {
  --input-background-color: var(--color-cool-5);
  --input-border-color: var(--color-cool-4);
  --input-text-color: var(--color-light-4);
}

.standard-form label.icon {
  --input-background-color: var(--color-cool-4);
  --input-border-color: transparent;
  --input-text-color: var(--color-light-3);
  --input-focus-outline-color: var(--color-cool-3);
}

.standard-form label.icon:focus-within {
  --input-text-color: var(--color-light-1);
}

.standard-form label.icon:has(> input:disabled) {
  --input-background-color: var(--color-cool-5);
  --input-border-color: var(--color-cool-4);
  --input-text-color: var(--color-light-4);
}

input[readonly] {
  --input-background-color: var(--color-cool-5);
  --input-border-color: var(--color-cool-4);
  --input-text-color: var(--color-light-4);
}

input[type=checkbox] {
  --checkbox-checked-color: var(--color-warm-1);
  --checkbox-disabled-color: var(--color-cool-4);
  --checkbox-background-color: var(--color-cool-4);
  --checkbox-checkmark-color: transparent;
  --checkbox-font-weight: bold;
}

input[type=range] {
  --range-track-color: var(--input-background-color);
  --range-thumb-background-color: rgba(11, 10, 19, 0.9);
  --range-thumb-border-color: var(--color-warm-1);
}

a.button,
button {
  --button-background-color: var(--color-cool-5-50);
  --button-border-color: var(--color-light-5);
  --button-text-color: var(--color-light-3);
  --button-focus-outline-color: var(--color-warm-2);
  --button-hover-background-color: var(--color-warm-2);
  --button-hover-border-color: var(--color-light-3);
  --button-hover-text-color: var(--color-light-1);
}

a.button:disabled,
button:disabled {
  --button-background-color: var(--color-cool-5);
  --button-border-color: transparent;
  --button-text-color: var(--color-light-5);
}

a.button.bright,
button.bright {
  --button-background-color: var(--color-warm-1);
  --button-border-color: var(--color-cool-5);
  --button-text-color: var(--color-cool-5);
  --button-hover-background-color: #fda948;
  --button-hover-border-color: var(--color-warm-3);
  --button-hover-text-color: #000000;
}

a.button.bright:disabled,
button.bright:disabled {
  --button-background-color: var(--color-cool-4);
}

/* ---------------------------------------- */
/*  Setup Views Specifically                */
/* ---------------------------------------- */
body.auth {
  --header-size: 160px;
  --header-font-size: var(--font-size-80);
  --form-padding: 1.5rem;
  --max-width: 600px;
}

/* ---------------------------------------- */
/*  Tables                                  */
/* ---------------------------------------- */
table {
  --table-background-color: var(--color-cool-5-50);
}

.theme-light {
  --color-text-selection: var(--color-light-1);
  --color-text-selection-bg: var(--color-dark-6);
  /* ---------------------------------------- */
  /*  Forms and Form Elements                 */
  /* ---------------------------------------- */
}

.theme-light .application {
  --background: url("../ui/parchment.jpg") repeat;
  --color-text-primary: var(--color-dark-1);
  --color-header-background: var(--color-dark-3);
  --color-fieldset-border: var(--color-light-2);
  --color-form-label: var(--color-dark-2);
  --color-form-label-hover: var(--color-dark-1);
  --color-form-hint: var(--color-dark-4);
  --color-form-hint-hover: var(--color-dark-2);
  --color-select-option-bg: var(--color-light-1);
}

.theme-light input,
.theme-light select {
  --input-background-color: rgba(0, 0, 0, 0.1);
  --input-border-color: var(--color-dark-6);
  --input-text-color: var(--color-dark-2);
  --input-placeholder-color: var(--color-dark-3);
  --input-focus-outline-color: var(--color-warm-2);
}

.theme-light input:focus,
.theme-light select:focus {
  --input-text-color: var(--color-dark-1);
}

.theme-light input:disabled,
.theme-light select:disabled {
  --input-background-color: rgba(0, 0, 0, 0.2);
  --input-border-color: transparent;
  --input-text-color: var(--color-dark-3);
}

.theme-light input[type=checkbox] {
  --checkbox-font-weight: unset;
  --checkbox-background-color: var(--color-dark-6);
  --checkbox-checked-color: var(--color-warm-1);
  --checkbox-checkmark-color: var(--color-dark-1);
}

.theme-light input[type=checkbox]:disabled,
.theme-light input[type=checkbox][readonly] {
  --checkbox-font-weight: bold;
  --checkbox-disabled-color: var(--color-dark-6);
  --checkbox-checked-color: var(--color-dark-6);
}

.theme-light input[type=checkbox]:disabled:checked,
.theme-light input[type=checkbox][readonly]:checked {
  --checkbox-disabled-color: transparent;
}

.theme-light label.icon {
  --input-background-color: rgba(0, 0, 0, 0.1);
  --input-border-color: var(--color-dark-6);
  --input-text-color: var(--color-dark-2);
  --input-focus-outline-color: var(--color-warm-2);
}

.theme-light label.icon:focus-within {
  --input-text-color: var(--color-dark-1);
}

.theme-light label.icon:has(> input:disabled) {
  --input-background-color: rgba(0, 0, 0, 0.2);
  --input-border-color: transparent;
  --input-text-color: var(--color-dark-3);
}

.theme-light input[readonly] {
  --input-background-color: rgba(0, 0, 0, 0.2);
  --input-border-color: transparent;
  --input-text-color: var(--color-dark-3);
}

.theme-light a.button,
.theme-light button {
  --button-background-color: var(--c-grey-8);
  --button-border-color: var(--color-dark-5);
  --button-text-color: var(--color-dark-1);
  --button-focus-outline-color: var(--color-warm-2);
  --button-hover-background-color: var(--color-warm-2);
  --button-hover-text-color: var(--color-light-1);
}

.theme-light a.button:disabled,
.theme-light button:disabled {
  --button-background-color: rgba(0 0 0 / 20%);
  --button-border-color: transparent;
  --button-text-color: var(--color-dark-3);
}

/* ---------------------------------------- */
/*  Tables                                  */
/* ---------------------------------------- */
table {
  --table-background-color: none;
}

table thead,
table tfoot {
  background: var(--color-cool-5);
}

/* ----------------------------------------- */
/*  Root                                     */
/* ----------------------------------------- */
:root {
  --color-text-light-highlight: #f0f0e0;
  --color-text-light-heading: #c9c7b8;
  --color-text-light-primary: #b5b3a4;
  --color-text-dark-primary: #191813;
  --color-text-dark-secondary: #4b4a44;
  --color-text-dark-header: #23221d;
  --color-text-dark-inactive: #7a7971;
  --color-text-hyperlink: #ff6400;
  --color-text-selection: #f7f3e8;
  --color-text-selection-bg: #777;
  --color-text-light-0: #fff;
  --color-text-light-1: #eee;
  --color-text-light-2: #ddd;
  --color-text-light-3: #ccc;
  --color-text-light-4: #bbb;
  --color-text-light-5: #aaa;
  --color-text-light-6: #999;
  --color-text-light-7: #888;
  --color-text-dark-1: #111;
  --color-text-dark-2: #222;
  --color-text-dark-3: #444;
  --color-text-dark-4: #555;
  --color-text-dark-5: #666;
  --color-text-dark-6: #777;
  --color-border-light-1: #ddd;
  --color-border-light-2: #999;
  --color-border-dark-1: #111;
  --color-border-dark-2: #222;
  --color-border-dark-3: #333;
  --color-border-dark-4: #444;
  --color-border-dark-5: #666;
  --color-shadow-primary: #ff0000;
  --color-shadow-highlight: #ff6400;
  --color-shadow-dark: #000;
  --color-underline-inactive: #7a7971;
  --color-underline-active: #44191a;
  --color-underline-header: #782e22;
  --color-border-light-highlight: #f0f0e0;
  --color-border-light-primary: #b5b3a4;
  --color-border-light-secondary: #c9c7b8;
  --color-border-light-tertiary: #7a7971;
  --color-border-dark: #000;
  --color-border-dark-primary: #191813;
  --color-border-dark-secondary: #23221d;
  --color-border-dark-tertiary: #4b4a44;
  --color-border-highlight: #ff6400;
  --color-border-highlight-alt: #ff0000;
  --color-bg-btn-minor-inactive: #c9c7b8;
  --color-bg-btn-minor-active: #b5b3a4;
  --color-select-option-bg: #dad8cc;
  --color-checkbox-checked: #666;
  --color-ownership-none: #5500ff;
  --color-ownership-observer: #7a7971;
  --color-ownership-owner: #b5b3a4;
  --sidebar-width: 300px;
  --sidebar-header-height: 32px;
  --sidebar-item-height: 48px;
  --hotbar-height: 52px;
  --hotbar-width: 578px;
  --macro-size: 50px;
  --color-scrollbar: #782e22;
  --color-scrollbar-track: transparent;
  --color-scrollbar-border: #ff6400;
  --players-width: 200px;
  --form-field-height: 26px;
  --font-primary: "Crimson Pro", sans-serif;
  --line-height-12: 0.75rem;
  --line-height-16: 1rem;
  --line-height-20: 1.25rem;
  --line-height-30: 1.875rem;
  --sidebar-tab-height: 20px;
}

body.game .window-app {
  --color-fieldset-border: var(--color-light-2);
  --color-form-label: var(--color-dark-2);
  --color-form-label-hover: var(--color-dark-1);
  --color-form-hint: var(--color-dark-4);
  --color-form-hint-hover: var(--color-dark-2);
  --color-select-option-bg: var(--color-light-1);
}

/* COLORS DEFINITIONS */
:root {
  --c-gold: rgb(131,117,78);
  --c-gold-0: rgb(245, 244, 239);
  --c-gold-1: rgb(226, 221, 207);
  --c-gold-2: rgb(207, 199, 175);
  --c-gold-3: rgb(188, 176, 143);
  --c-gold-4: rgb(169, 154, 111);
  --c-gold-5: rgb(131,117,78);
  --c-gold-6: rgb(112, 100, 67);
  --c-gold-7: rgb(80, 71, 48);
  --c-gold-8: rgb(48, 43, 29);
  --c-gold-9: rgb(16, 14, 10);
  --c-resin: rgb(29,30,44);
  --c-resin-0: rgb(240, 240, 245);
  --c-resin-1: rgb(209, 210, 225);
  --c-resin-2: rgb(178, 180, 204);
  --c-resin-3: rgb(147, 150, 184);
  --c-resin-4: rgb(117, 120, 164);
  --c-resin-5: rgb(91, 94, 138);
  --c-resin-6: rgb(71, 73, 108);
  --c-resin-7: rgb(51, 52, 77);
  --c-resin-8: rgb(29, 30, 44);
  --c-resin-9: rgb(10, 10, 15);
  --c-pred: rgb(231,29,54);
  --c-pred-0: rgb(253, 232, 234);
  --c-pred-1: rgb(248, 186, 193);
  --c-pred-2: rgb(243, 140, 152);
  --c-pred-3: rgb(238, 94, 111);
  --c-pred-4: rgb(233, 48, 70);
  --c-pred-5: rgb(207, 22, 45);
  --c-pred-6: rgb(161, 17, 35);
  --c-pred-7: rgb(115, 12, 25);
  --c-pred-8: rgb(69, 7, 15);
  --c-pred-9: rgb(23, 2, 5);
  --c-grey: rgb(51,51,51);
  --c-grey-0: rgb(230,230,230);
  --c-grey-1: rgb(191,191,191);
  --c-grey-2: rgb(166,166,166);
  --c-grey-3: rgb(140,140,140);
  --c-grey-4: rgb(102,102,102);
  --c-grey-5: rgb(51,51,51);
  --c-grey-6: rgb(38,38,38);
  --c-grey-7: rgb(25,25,25);
  --c-grey-8: rgb(13,13,13);
  --c-antiflash: rgb(239,239,239);
  --c-seasalt: rgb(247,247,247);
  --c-dgns-red: rgb(237,29,39);
  --c-dgns-gold: rgb(131,117,78);
  --b-alpha-1: rgba(0,0,0,0.1);
  --b-alpha-2: rgba(0,0,0,0.2);
  --b-alpha-3: rgba(0,0,0,0.3);
  --b-alpha-4: rgba(0,0,0,0.4);
  --b-alpha-5: rgba(0,0,0,0.5);
  --b-alpha-6: rgba(0,0,0,0.6);
  --b-alpha-7: rgba(0,0,0,0.7);
  --b-alpha-8: rgba(0,0,0,0.8);
  --b-alpha-9: rgba(0,0,0,0.9);
  --b-alpha-10: rgba(0,0,0,1);
}

/* COMPONENTS: _SCROLLBAR.SCSS */
:root,
* {
  scrollbar-width: unset !important;
  scrollbar-color: unset !important;
}

::-webkit-scrollbar {
  width: 6px;
  border: none;
  background-color: transparent;
}

.theme-light ::-webkit-scrollbar-thumb {
  border: none;
  border: 1px solid var(--c-grey-5);
  background-color: var(--c-grey-8);
  border-radius: 3px !important;
}
.theme-light ::-webkit-scrollbar-thumb:hover {
  border: 1px solid var(--c-pred-5);
  background-color: var(--c-pred-7);
}
.theme-light ::-webkit-scrollbar-track {
  width: 4px;
  border: none;
  background-color: transparent;
  background-position: center;
  background-repeat: repeat-y;
  border-radius: 0px;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.theme-light ::-webkit-scrollbar-button {
  display: inline-block;
}
.theme-light ::-webkit-scrollbar-track-piece {
  display: none;
}
.theme-light ::-webkit-scrollbar-corner {
  display: none;
}
.theme-light ::-webkit-resizer {
  display: none;
}

.theme-dark ::-webkit-scrollbar-thumb {
  border: none;
  border: 1px solid var(--c-gold-5);
  background-color: var(--c-gold-7);
  border-radius: 3px !important;
}
.theme-dark ::-webkit-scrollbar-thumb:hover {
  border: 1px solid var(--c-pred-5);
  background-color: var(--c-pred-7);
}
.theme-dark ::-webkit-scrollbar-thumb {
  border: none;
  border: 1px solid var(--c-gold-5);
  background-color: var(--c-gold-7);
  border-radius: 3px !important;
}
.theme-dark ::-webkit-scrollbar-thumb:hover {
  border: 1px solid var(--c-pred-5);
  background-color: var(--c-pred-7);
}
.theme-dark ::-webkit-scrollbar-track {
  width: 4px;
  border: none;
  background-color: transparent;
  background-position: center;
  background-repeat: repeat-y;
  border-radius: 0px;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.theme-dark ::-webkit-scrollbar-button {
  display: inline-block;
}
.theme-dark ::-webkit-scrollbar-track-piece {
  display: none;
}
.theme-dark ::-webkit-scrollbar-corner {
  display: none;
}
.theme-dark ::-webkit-resizer {
  display: none;
}

/* #sidebar {
  .settings-sidebar {
    button {
      margin: 4px 0px;
    }
  }

  .system-badge {
    align-self: center;
    justify-content: center;
    margin: 0 !important;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--font-size-16);

    span {
      margin: 5px 0px;
    }

    img {
      border: none;
      width: 70%;
    }
  }
}

.theme-light {
  .settings-sidebar {
    .system-badge {
      fill: var(--c-grey-8);
    }
  }
}

.theme-dark {
  .settings-sidebar {
    .system-badge {
      fill: var(--c-antiflash);
    }
  }
}
 */
.theme-light #logo {
  height: 35px;
  content: url(../ui/degenesis-logo-white.svg);
}

.theme-dark #logo {
  height: 35px;
  content: url(../ui/degenesis-logo-dark.svg);
}

.middle-name {
  font-size: 48px !important;
}

/* 


@import "base/colors";
@import "base/scss-variables"; /// to be removed
@import "base/css-variables"; /// to be removed

// BASE ELEMENTS

@import "base/typography";
// @import "base/ui-elements"; /// to be removed - moved to controls...
// @import "base/experimental"; /// to be removed


@import "foundry/sidebar";

// 3RD PARTY
@import "3rdparty/carousel";
@import "3rdparty/ownership";
@import "3rdparty/diceTray";
@import "3rdparty/gmScreen";

// MAIN COMPONENTS
@import "components/table";
@import "components/controls"; /// Main styling for buttons, selects, checboxes, inputs, etc...
@import "components/scrollbar";
@import "components/squares";
@import "components/chatMessage"; // MOVED _CHAT.SCSS  into _CHATMESSAGE.SCSS
@import "components/journals";
@import "components/rollTable";
@import "components/editor"; // PROSEMIRROR EDITOR

// APPS
@import "apps/sheet-configure";
@import "apps/actor-configure";
@import "apps/items-qualities";
@import "apps/rolldialog";
@import "apps/rollPhenomenonDialog";
@import "apps/proseMirror";

// SHEET DESIGNS

// ACTOR SHEETS
@import "sheets/sheets"; // COMMON ELEMENTS / STYLES FOR ALL SHEETS
@import "sheets/character";
@import "sheets/fromHell";
@import "sheets/npc";
@import "sheets/aberrant";

// ITEM SHEETS
@import "sheets/item";
 */