/* 
    DEGENESIS@NEXT
    -------------
    Version  0.1

    */
/* COLORS DEFINITIONS */
:root {
  --c-gold: rgb(131,117,78);
  --c-gold-0: rgb(245, 244, 239);
  --c-gold-1: rgb(226, 221, 207);
  --c-gold-2: rgb(207, 199, 175);
  --c-gold-3: rgb(188, 176, 143);
  --c-gold-4: rgb(169, 154, 111);
  --c-gold-5: rgb(131,117,78);
  --c-gold-6: rgb(112, 100, 67);
  --c-gold-7: rgb(80, 71, 48);
  --c-gold-8: rgb(48, 43, 29);
  --c-gold-9: rgb(16, 14, 10);
  --c-resin: rgb(29,30,44);
  --c-resin-0: rgb(240, 240, 245);
  --c-resin-1: rgb(209, 210, 225);
  --c-resin-2: rgb(178, 180, 204);
  --c-resin-3: rgb(147, 150, 184);
  --c-resin-4: rgb(117, 120, 164);
  --c-resin-5: rgb(91, 94, 138);
  --c-resin-6: rgb(71, 73, 108);
  --c-resin-7: rgb(51, 52, 77);
  --c-resin-8: rgb(29, 30, 44);
  --c-resin-9: rgb(10, 10, 15);
  --c-pred: rgb(231,29,54);
  --c-pred-0: rgb(253, 232, 234);
  --c-pred-1: rgb(248, 186, 193);
  --c-pred-2: rgb(243, 140, 152);
  --c-pred-3: rgb(238, 94, 111);
  --c-pred-4: rgb(233, 48, 70);
  --c-pred-5: rgb(207, 22, 45);
  --c-pred-6: rgb(161, 17, 35);
  --c-pred-7: rgb(115, 12, 25);
  --c-pred-8: rgb(69, 7, 15);
  --c-pred-9: rgb(23, 2, 5);
  --c-grey: rgb(51,51,51);
  --c-grey-0: rgb(230,230,230);
  --c-grey-1: rgb(191,191,191);
  --c-grey-2: rgb(166,166,166);
  --c-grey-3: rgb(140,140,140);
  --c-grey-4: rgb(102,102,102);
  --c-grey-5: rgb(51,51,51);
  --c-grey-6: rgb(38,38,38);
  --c-grey-7: rgb(25,25,25);
  --c-grey-8: rgb(13,13,13);
  --c-white-0: rgb(255,255,255);
  --c-white-1: rgb(245,245,245);
  --c-white-2: rgb(235,235,235);
  --c-white-3: rgb(225,225,225);
  --c-white-4: rgb(215,215,215);
  --c-white-5: rgb(205,205,205);
  --c-white-6: rgb(195,195,195);
  --c-white-7: rgb(185,185,185);
  --c-white-8: rgb(175,175,175);
  --c-antiflash: rgb(239,239,239);
  --c-seasalt: rgb(247,247,247);
  --c-dgns-red: rgb(237,29,39);
  --c-dgns-gold: rgb(131,117,78);
  --b-alpha-1: rgba(0,0,0,0.1);
  --b-alpha-2: rgba(0,0,0,0.2);
  --b-alpha-3: rgba(0,0,0,0.3);
  --b-alpha-4: rgba(0,0,0,0.4);
  --b-alpha-5: rgba(0,0,0,0.5);
  --b-alpha-6: rgba(0,0,0,0.6);
  --b-alpha-7: rgba(0,0,0,0.7);
  --b-alpha-8: rgba(0,0,0,0.8);
  --b-alpha-9: rgba(0,0,0,0.9);
  --b-alpha-10: rgba(0,0,0,1);
}

/* FONTS DEFINITIONS: _FONTS.SCSS */
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Variable.ttf");
  font-weight: 1 999;
  font-optical-sizing: auto;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Italic-Variable.ttf");
  font-weight: 1 999;
  font-optical-sizing: auto;
  font-style: italic;
}
@font-face {
  font-family: "Crimson Pro";
  src: url("../fonts/CrimsonPro-Variable.ttf");
  size-adjust: 120%;
}
@font-face {
  font-family: "Crimson Pro";
  src: url("../fonts/CrimsonPro-Italic.ttf");
  font-style: italic;
  size-adjust: 120%;
}
@font-face {
  font-family: "DG";
  src: url("../fonts/DG-Medium.otf");
}
/* Font utitlites */
.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

/* Avenir should be removed due to licensing issues */
/* 
@font-face {
  font-family: "Avenir";
  src: url("../fonts/AvenirLTStd-Black.otf");
  font-weight: 900;
}
@font-face {
  font-family: "Avenir";
  src: url("../fonts/AvenirLTStd-Heavy.otf");
  font-weight: bold;
}
@font-face {
  font-family: "Avenir";
  src: url("../fonts/AvenirLTStd-Medium.otf");
  font-weight: 500;
}
@font-face {
  font-family: "Avenir";
  src: url("../fonts/AvenirLTStd-Roman.otf");
}
@font-face {
  font-family: "Avenir";
  src: url("../fonts/AvenirLTStd-Book.otf");
  font-weight: 300;
}
@font-face {
  font-family: "Avenir";
  src: url("../fonts/AvenirLTStd-Light.otf");
  font-weight: 200;
} */
/* @font-face {
  font-family: "Calluna";
  src: url("../fonts/Calluna-Regular.otf");
} */
/* Foundry default variables / styles override */
@layer foundry {
  body {
    --font-sans: "Montserrat";
    --font-serif: "Crimson Pro";
    --font-h1: "Montserrat";
    --font-h1-size: var(--font-size-20);
    --font-h2-size: var(--font-size-18);
    --font-h3-size: var(--font-size-16);
    --font-h4-size: var(--font-size-12);
    --font-h5-size: var(--font-size-10);
  }
  .theme-dark * {
    --dgns-ui-primary: var(--c-gold-4);
    --dgns-ui-secondary: var(--c-gold);
    --dgns-ui-accent: var(--c-resin-4);
    --dgns-ui-contrast: var(--c-pred);
    --dgns-ui-background: rgba(15, 15, 15, 0.98);
    --dgns-ui-control-content: var(--c-gold-4);
    --dgns-ui-hover-control-content: var(--c-gold-3);
    --dgns-ui-active-content: var(--c-resin-4);
    --dgns-ui-control-border: var(--c-gold-4);
    --dgns-ui-hover-control-border: var(--c-gold-3);
    --dgns-ui-active-control-border: var(--c-resin-4);
    --dgns-ui-control-bg: var(--c-gold-9);
    --dgns-ui-hover-control-bg: var(--c-gold-8);
    --dgns-ui-active-control-bg: var(--c-resin-8);
    --dgns-ui-primary-text: var(--c-gold-4);
    --dgns-ui-secondary-text: var(--c-gold-4);
    --color-text-primary: var(--dgns-ui-primary);
    --menu-background: var(--dgns-ui-background);
    --input-background-color: var(--dgns-ui-background);
  }
  .theme-light {
    --dgns-ui-primary: var(--c-grey-8);
    --dgns-ui-secondary: var(--c-resin-5);
    --dgns-ui-background: rgba(245, 245, 245, 0.98);
    --dgns-ui-accent: var(--c-pred-5);
    --dgns-ui-primary-text: var(--c-grey-8);
    --dgns-ui-secondary-text: var(--c-pred-6);
    --dgns-ui-control-content: var(--c-grey-8);
    --dgns-ui-hover-control-content: var(--c-grey-5);
    --dgns-ui-active-control-content: var(--c-pred);
    --dgns-ui-control-border: var(--c-grey-8);
    --dgns-ui-hover-control-border: var(--c-grey-6);
    --dgns-ui-active-control-border: var(--c-pred);
    --dgns-ui-control-bg: var(--c-white-2);
    --dgns-ui-hover-control-bg: var(--c-white-0);
    --dgns-ui-active-control-bg: var(--c-white-0);
    --dgns-ui-primary-text: var(--c-grey-8);
    --dgns-ui-secondary-text: var(--c-gold-4);
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: "Montserrat";
    color: var(--dgns-ui-primary);
  }
  .application {
    background: none;
    background-color: var(--dgns-ui-background);
    border: 1px solid var(--dgns-ui-primary);
  }
  .application .window-content {
    padding: 0.5rem;
  }
  .application .window-header {
    background: transparent;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--dgns-ui-primary);
  }
  .application .window-header .window-title {
    color: var(--dgns-ui-primary);
  }
  .ui-control {
    --control-bg-color: var(--dgns-ui-control-bg);
    --control-border-color: var(--dgns-ui-control-border);
    --control-icon-color: var(--dgns-ui-control-content);
    /*   
    --control-active-border-color: var(--dgns-ui-active-control-border);
    --color-active-icon: var(--dgns-ui-control-content);
    color: var(--dgns-ui-control-content); */
  }
  .ui-control[aria-pressed=true] {
    --control-bg-color: var(--dgns-ui-active-control-bg);
    --control-icon-color: var(--dgns-ui-active-control-content);
    --control-border-color: var(--dgns-ui-active-control-border);
  }
  .faded-ui {
    --opacity-inactive: 0.7;
  }
  #tooltip {
    background: var(--dgns-ui-control-bg);
    border: 1px solid var(--dgns-ui-control-border);
    color: var(--dgns-ui-control-content);
    font-family: var(--font-sans);
    font-size: var(--font-size-12);
    font-weight: 900;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
  #tooltip h1,
  #tooltip h2,
  #tooltip h3,
  #tooltip h4,
  #tooltip h5 {
    font-weight: 800;
    letter-spacing: 0.1em;
    color: var(--dgns-ui-accent);
  }
  #tooltip p {
    color: var(--dgns-ui-control-content);
  }
  #tooltip p span.faint {
    color: var(--dgns-ui-secondary);
  }
  #tooltip p span.reference {
    background: var(--dgns-ui-active-control-bg);
    border-color: var(--dgns-ui-active-control-border);
    color: var(--dgns-ui-active-content);
  }
  #sidebar-content {
    color: var(--dgns-ui-primary);
  }
  #sidebar-content .sidebar-tab:not(.sidebar-popout) {
    border-radius: 0;
  }
  #sidebar-content .sidebar-tab:not(.sidebar-popout):not(.chat-sidebar) {
    background: var(--dgns-ui-background);
    border-left: 1px solid var(--dgns-ui-control-border);
  }
  #sidebar-content .settings-sidebar .info .title {
    font-size: var(--font-size-20);
    color: var(--dgns-ui-primary-text);
    text-transform: uppercase;
  }
  #sidebar-content button {
    white-space: nowrap;
    border-radius: 0;
    font-size: var(--font-size-12);
  }
  button {
    --button-background-color: var(--dgns-ui-control-bg);
    --button-border-color: var(--dgns-ui-control-border);
    --button-text-color: var(--dgns-ui-control-content);
    --button-hover-background-color: var(--dgns-ui-hover-control-bg);
    --button-hover-border-color: var(--dgns-ui-hover-control-border);
    --button-hover-text-color: var(--dgns-ui-hover-control-content);
    font-weight: 800;
    font-size: var(--font-size-14);
    text-transform: uppercase;
  }
  button:focus {
    -webkit-box-shadow: none;
            box-shadow: none;
    outline-color: var(--dgns-ui-active-control-border);
  }
  #pause {
    z-index: 20 !important;
  }
  #pause figcaption {
    font-weight: 500;
  }
  #pause svg {
    width: 100px;
    height: 100px;
    fill: var(--dgns-ui-primary);
  }
  #menu {
    background-color: var(--dgns-ui-background);
  }
  #context-menu {
    border: none;
    background-color: var(--dgns-ui-background);
  }
  #context-menu .context-item {
    border: none;
    color: var(--dgns-ui-primary);
  }
  #context-menu .context-item:hover {
    color: var(--dgns-ui-hover-control-content);
    background-color: var(--dgns-ui-hover-control-bg);
  }
}
.app-v2--closing,
.app-v2--opening {
  -webkit-animation: none !important;
          animation: none !important;
  -webkit-transition: none !important;
  transition: none !important;
}

dgns-checkbox {
  min-width: 24px;
  min-height: 24px;
  border: 2px solid var(--dgns-ui-primary);
}

dgns-slidetoggle {
  --slide-toggle-height: 24px;
  --slide-toggle-width: 48px;
  --slide-toggle-padding: 5px;
  --slide-toggle-track-color-checked: none;
  --slide-toggle-track-color-unchecked: var(--dgns-ui-background);
  --slide-toggle-thumb-color: var(--dgns-ui-primary);
  --slide-toggle-thumb-width: 10px;
  --slide-toggle-thumb-height: var(--slide-toggle-thumb-width);
  --slide-toggle-transition-time: 250ms;
  border: 2px solid var(--dgns-ui-primary);
  display: inline-block;
  width: var(--slide-toggle-width);
  height: var(--slide-toggle-height);
  cursor: pointer;
  /* Checked state */
}
dgns-slidetoggle .slide-toggle-track {
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.45);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.45);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding: var(--slide-toggle-padding);
}
dgns-slidetoggle .slide-toggle-thumb {
  width: var(--slide-toggle-thumb-width);
  height: var(--slide-toggle-thumb-height);
  border: 2px solid var(--dgns-ui-primary);
  text-align: center;
  -webkit-transition: margin-left var(--slide-toggle-transition-time) ease;
  transition: margin-left var(--slide-toggle-transition-time) ease;
}
dgns-slidetoggle[checked] .slide-toggle-track {
  background: var(--slide-toggle-track-color-checked);
}
dgns-slidetoggle[checked] .slide-toggle-thumb {
  margin-left: calc(100% - var(--slide-toggle-thumb-width));
  background: var(--slide-toggle-thumb-color);
}

dgns-vision button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid var(--dgns-ui-primary);
  width: 48px;
  height: 32px;
  padding: 0;
}
dgns-vision button svg {
  width: 64px;
  height: 64px;
}
dgns-vision .vision-dropdown {
  display: none;
  position: fixed;
  z-index: 10;
}
dgns-vision .vision-dropdown-item {
  background: aliceblue;
}

dgns-discomfort button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid var(--dgns-ui-primary);
  width: 48px;
  height: 32px;
  padding: 0;
}
dgns-discomfort button svg {
  width: 64px;
  height: 64px;
}
dgns-discomfort .discomfort-dropdown {
  display: none;
  position: fixed;
  z-index: 10;
}
dgns-discomfort .discomfort-dropdown-item {
  background: aliceblue;
}

prose-mirror {
  overflow: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  border: 1px solid;
  /* &:hover {
    button.toggle {
      opacity: 0;

      &:hover {
        opacity: 1;
      }
    }
  } */
}
prose-mirror.active {
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  gap: 0;
}
prose-mirror.active .editor-content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-top: 0px;
}
prose-mirror .editor-container,
prose-mirror .code-mirror {
  min-height: 300px;
}
prose-mirror .editor-content {
  padding: 5px 10px;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}
prose-mirror button.toggle {
  position: absolute;
  display: block;
  right: 0px;
  top: -35px;
}
prose-mirror button.toggle:disabled {
  display: none;
}

/* COMPONENTS: _SCROLLBAR.SCSS */
:root,
* {
  scrollbar-width: unset !important;
  scrollbar-color: unset !important;
}

::-webkit-scrollbar {
  width: 6px;
  border: none;
  background-color: transparent;
}

.theme-light ::-webkit-scrollbar-thumb {
  border: none;
  border: 1px solid var(--c-grey-5);
  background-color: var(--c-grey-8);
  border-radius: 3px !important;
}
.theme-light ::-webkit-scrollbar-thumb:hover {
  border: 1px solid var(--c-pred-5);
  background-color: var(--c-pred-7);
}
.theme-light ::-webkit-scrollbar-track {
  width: 4px;
  border: none;
  background-color: transparent;
  background-position: center;
  background-repeat: repeat-y;
  border-radius: 0px;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.theme-dark ::-webkit-scrollbar-thumb {
  border: none;
  border: 1px solid var(--c-gold-5);
  background-color: var(--c-gold-7);
  border-radius: 3px !important;
}
.theme-dark ::-webkit-scrollbar-thumb:hover {
  border: 1px solid var(--c-pred-5);
  background-color: var(--c-pred-7);
}
.theme-dark ::-webkit-scrollbar-thumb {
  border: none;
  border: 1px solid var(--c-gold-5);
  background-color: var(--c-gold-7);
  border-radius: 3px !important;
}
.theme-dark ::-webkit-scrollbar-thumb:hover {
  border: 1px solid var(--c-pred-5);
  background-color: var(--c-pred-7);
}
.theme-dark ::-webkit-scrollbar-track {
  width: 4px;
  border: none;
  background-color: transparent;
  background-position: center;
  background-repeat: repeat-y;
  border-radius: 0px;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.sheet-title {
  margin: 0 auto;
  width: 100%;
  max-height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sheet-title svg {
  width: 100%;
  height: 100%;
}
.sheet-title svg path.square {
  fill: none;
  stroke: var(--dgns-ui-primary);
  stroke-width: 2;
}
.sheet-title svg path.line {
  fill: none;
  stroke: var(--dgns-ui-primary);
  stroke-width: 2;
}
.sheet-title div.line {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
}
.sheet-title div.line-left,
.sheet-title div.line-right {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 120px;
          flex: 0 0 120px;
}
.sheet-title div.line-right svg {
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
}
.sheet-title div.center {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  margin: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: no-wrap;
}
.sheet-title div.center input {
  background: none;
  border-radius: 0;
  border: 0;
  font-family: var(--font-sans);
  font-size: var(--font-size-14);
  color: var(--dgns-ui-primary);
  font-weight: 800;
  field-sizing: content;
}
.sheet-title div.center input:focus {
  outline-color: var(--dgns-ui-primary);
}

.sheet-group-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px auto;
  width: 100%;
  max-height: 20px;
}
.sheet-group-header svg {
  width: 100%;
  height: 100%;
}
.sheet-group-header svg path.square {
  fill: none;
  stroke: var(--dgns-ui-primary);
  stroke-width: 2;
}
.sheet-group-header svg path.line {
  fill: none;
  stroke: var(--dgns-ui-primary);
  stroke-width: 2;
}
.sheet-group-header div.header {
  text-align: center;
  margin: 0px 20px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: var(--font-size-16);
}
.sheet-group-header div.line-left,
.sheet-group-header div.line-right {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 120px;
          flex: 1 0 120px;
}
.sheet-group-header div.line-right svg {
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.sheet-footer {
  max-height: 25px;
  width: 100%;
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: scale(1, -1);
          transform: scale(1, -1);
}
.sheet-footer svg {
  width: 100%;
  height: 100%;
}
.sheet-footer svg path.square {
  fill: none;
  stroke: var(--dgns-ui-primary);
  stroke-width: 2;
}
.sheet-footer svg path.line {
  fill: none;
  stroke: var(--dgns-ui-primary);
  stroke-width: 2;
}
.sheet-footer div.line {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
}
.sheet-footer div.line-left,
.sheet-footer div.line-right {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 120px;
          flex: 0 0 120px;
}
.sheet-footer div.line-right svg {
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
}
.sheet-footer div.center {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  margin: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: no-wrap;
}
.sheet-footer div.center input {
  background: none;
  border-radius: 0;
  border: 0;
  font-family: var(--font-sans);
  font-size: var(--font-size-14);
  color: var(--dgns-ui-primary);
  font-weight: 800;
  field-sizing: content;
}
.sheet-footer div.center input:focus {
  outline-color: var(--dgns-ui-primary);
}

.window-resize-handle {
  background: none;
  -webkit-filter: none;
          filter: none;
}
.window-resize-handle svg path {
  fill: var(--dgns-ui-primary);
}

.drop-placeholder {
  opacity: 0.2;
  aspect-ratio: 1;
  display: block;
  height: 85%;
  border: 2px dashed var(--dgns-ui-primary);
  border-radius: 10px;
}

/* 
    DEGENESIS@NEXT
    -------------
    Version  0.1

    */
@layer dgns.sheets {
  .theme-dark,
  .theme-dark * {
    --dgns-ui-primary: var(--c-gold);
    --dgns-ui-background: rgba(15, 15, 15, 0.97);
  }
  .theme-light, .theme-light * {
    --dgns-ui-primary: var(--c-gold-6);
    --dgns-ui-secondary: var(--c-gold-6);
    --dgns-ui-background: rgba(245, 245, 245, 0.98);
    --dgns-ui-control-content: var(--c-gold-6);
    --dgns-ui-control-bg: rgba(240, 240, 240, 0.98);
    --dgns-ui-hover-control-content: rgba(240, 240, 240, 0.98);
    --dgns-ui-hover-control-bg: var(--c-pred);
  }
  .application.sheet .mode-slider {
    margin-right: 5px;
  }
  .application.sheet.minimized .window-header .mode-slider {
    display: none !important;
  }
  .application.sheet.minimized .window-header .window-title {
    visibility: visible;
  }
  .section-scrollable {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow-y: hidden;
  }
  .section-scrollable .container-scrollable {
    padding-right: 3px;
    overflow-y: auto;
    scroll-padding: 10px;
  }
  /* styles for customizable sheets with changable background */
  .sheet-customizable .window-header {
    position: absolute;
    width: 100%;
  }
  .sheet-customizable .window-content {
    padding-top: 36px;
  }
  .sheet-customizable:not(.minimized, .minimizing, .maximizing) {
    min-height: 800px;
    min-width: 700px;
  }
  .sheet-customizable:not(.minimized, .minimizing, .maximizing) .window-title {
    visibility: hidden;
  }
  .sheet-customizable .sheet-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: -1;
    pointer-events: none;
  }
  .sheet-customizable .sheet-background img {
    -o-object-fit: cover;
       object-fit: cover;
    border: none;
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.3)), to(rgba(0, 0, 0, 0)));
    -webkit-mask-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0));
            mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.3)), to(rgba(0, 0, 0, 0)));
            mask-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0));
    z-index: 0;
  }
  .section-dropdown .section-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0.3rem;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0.3rem;
    font-size: var(--font-size-14);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
  }
  .section-dropdown .section-body.collapsed {
    display: none;
  }
  .group-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .group-list {
    margin: 5px;
    padding: 0;
  }
  .group-list li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0px 0px 2px 0px;
    height: 20px;
    gap: 5px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: var(--font-serif);
    font-size: var(--font-size-14);
    letter-spacing: 0.1em;
    text-align: center;
    text-transform: uppercase;
  }
  .group-list input {
    height: 20px;
  }
  .group-list button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-width: 0;
    min-height: 0;
    background: none;
    border: none;
  }
  .group-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
    min-height: 20px;
  }
  .group-header button {
    min-height: 0;
    min-width: 0;
    height: 20px;
  }
  .group-header h1,
  .group-header h2,
  .group-header h3,
  .group-header h4 {
    margin: 0;
  }
}
/* 
    DEGENESIS@NEXT
    -------------
    Version  0.1

    */
@layer dgns.sheets.character {
  .application.sheet.dgns-character {
    background: var(--dgns-ui-background);
    border: 2px solid var(--dgns-ui-primary);
    /*  section {
      .history {
        height: fit-content;
        margin-bottom: 10px;
      }
    } */
  }
  .application.sheet.dgns-character .mode-slider {
    margin-right: 5px;
  }
  .application.sheet.dgns-character:not(.minimized, .minimizing, .maximizing) {
    min-height: 850px;
    min-width: 700px;
  }
  .application.sheet.dgns-character.minimized .window-header .mode-slider {
    display: none !important;
  }
  .application.sheet.dgns-character.minimized .window-header .window-title {
    visibility: visible;
  }
  .application.sheet.dgns-character svg {
    width: 100%;
    height: 100%;
  }
  .application.sheet.dgns-character svg .rectangle {
    fill: none;
    stroke: var(--dgns-ui-primary);
    stroke-width: 1;
  }
  .application.sheet.dgns-character svg path.line {
    fill: none;
    stroke: var(--dgns-ui-primary);
    stroke-width: 1;
  }
  .application.sheet.dgns-character .character-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .application.sheet.dgns-character .character-header .image {
    width: 150px;
    height: 150px;
    position: relative;
  }
  .application.sheet.dgns-character .character-header .image .border {
    pointer-events: none;
    position: absolute;
    z-index: 10;
  }
  .application.sheet.dgns-character .character-header .image .content {
    width: 130px;
    height: 130px;
    position: relative;
    margin: 10px auto;
  }
  .application.sheet.dgns-character .character-header .container-left {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .application.sheet.dgns-character .character-header .container-middle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 150px;
  }
  .application.sheet.dgns-character .character-header .container-right {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    gap: 5px;
  }
  .application.sheet.dgns-character .character-header-under {
    margin: 10px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .application.sheet.dgns-character .character-header-under > * {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .application.sheet.dgns-character .character-header-under .container-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .application.sheet.dgns-character .character-header-under .container-right {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .application.sheet.dgns-character .field-under {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .application.sheet.dgns-character .field-under label,
  .application.sheet.dgns-character .field-under a {
    text-transform: uppercase;
    font-family: var(--font-serif);
    font-size: var(--font-size-16);
    font-weight: 500;
  }
  .application.sheet.dgns-character .field-under input {
    text-align: center;
    font-size: var(--font-size-14);
    font-weight: 600;
    padding: 0 !important;
  }
  .application.sheet.dgns-character .field-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0px 5px;
    gap: 5px;
    width: 100%;
    line-height: 85%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .application.sheet.dgns-character .field-row label,
  .application.sheet.dgns-character .field-row a {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -ms-flex-item-align: left;
        align-self: left;
    text-transform: uppercase;
    font-family: var(--font-serif);
    font-size: var(--font-size-16);
    font-weight: 500;
  }
  .application.sheet.dgns-character .field-row input {
    width: 30px;
    height: 30px;
    -ms-flex-item-align: right;
        align-self: right;
    text-align: center;
    font-size: var(--font-size-14);
    font-weight: 600;
    padding: 0 !important;
  }
  .application.sheet.dgns-character .tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    border: none;
    gap: 3px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .application.sheet.dgns-character .tabs a {
    padding: 0px 10px;
    border: 2px solid var(--dgns-ui-primary);
    font-family: var(--font-headers);
    font-size: var(--font-size-14);
    font-weight: 600;
    text-transform: uppercase;
    text-shadow: none;
    color: var(--dgns-ui-primary);
    line-height: normal;
  }
  .application.sheet.dgns-character .tabs a:hover {
    color: var(--dgns-ui-accent);
  }
  .application.sheet.dgns-character .tabs a.active {
    background-color: var(--dgns-ui-primary);
    color: var(--dgns-ui-background);
  }
  .application.sheet.dgns-character .tab {
    height: 100%;
    margin: 0px 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .application.sheet.dgns-character .tab.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .application.sheet.dgns-character .ccc-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    /*  flex-direction: row;
    justify-content: center; */
    gap: 30px;
  }
  .application.sheet.dgns-character .ccc-container .cult,
  .application.sheet.dgns-character .ccc-container .concept,
  .application.sheet.dgns-character .ccc-container .culture {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30px 130px 30px;
    grid-template-areas: "Controls" "Icon" "Label";
  }
  .application.sheet.dgns-character .ccc-container .cult .controls,
  .application.sheet.dgns-character .ccc-container .concept .controls,
  .application.sheet.dgns-character .ccc-container .culture .controls {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; /* center the label */
  }
  .application.sheet.dgns-character .ccc-container .cult .controls label,
  .application.sheet.dgns-character .ccc-container .concept .controls label,
  .application.sheet.dgns-character .ccc-container .culture .controls label {
    text-align: center;
  }
  .application.sheet.dgns-character .ccc-container .cult .controls button,
  .application.sheet.dgns-character .ccc-container .concept .controls button,
  .application.sheet.dgns-character .ccc-container .culture .controls button {
    position: absolute;
    right: 0;
  }
  .application.sheet.dgns-character .ccc-container .cult .label,
  .application.sheet.dgns-character .ccc-container .concept .label,
  .application.sheet.dgns-character .ccc-container .culture .label {
    grid-area: "Label";
    justify-self: center;
    text-align: center;
    word-break: break-word;
  }
  .application.sheet.dgns-character .ccc-container .cult .icon,
  .application.sheet.dgns-character .ccc-container .concept .icon,
  .application.sheet.dgns-character .ccc-container .culture .icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    grid-area: "Icon";
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  .application.sheet.dgns-character .ccc-container .cult .icon:hover,
  .application.sheet.dgns-character .ccc-container .concept .icon:hover,
  .application.sheet.dgns-character .ccc-container .culture .icon:hover {
    scale: 1.1;
    -webkit-filter: brightness(1.1);
            filter: brightness(1.1);
  }
  .application.sheet.dgns-character .ccc-container label {
    text-transform: uppercase;
  }
  .application.sheet.dgns-character .ccc-container label.header {
    font-weight: 700;
    font-size: var(--font-size-14);
  }
  .application.sheet.dgns-character .ccc-container label.value {
    font-weight: 500;
    font-family: var(--font-serif);
    font-size: var(--font-size-18);
  }
  .application.sheet.dgns-character .ccc-container > * {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .application.sheet.dgns-character .ccc-container img {
    aspect-ratio: 1;
    width: 120px;
    height: 120px;
  }
  .application.sheet.dgns-character .ccc-container .drop {
    border-radius: 10px;
    margin: 10px 0px;
    width: 135px;
    height: 135px;
    background: var(--dgns-ui-background);
  }
  .application.sheet.dgns-character .backgrounds-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: auto;
  }
  .application.sheet.dgns-character .backgrounds-container .backgrounds {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 5px;
  }
  .application.sheet.dgns-character .lp-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-top: 5px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 5px;
  }
  .application.sheet.dgns-character .lp-container > * {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .application.sheet.dgns-character .lp-container button {
    max-width: 24px;
    max-height: 24px;
  }
  .application.sheet.dgns-character .lp-container label {
    text-transform: uppercase;
    font-size: var(--font-size-14);
    font-weight: 600;
  }
  .application.sheet.dgns-character .legacies-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .application.sheet.dgns-character .legacies-container .legacies-toolbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .application.sheet.dgns-character .potentials-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .application.sheet.dgns-character .potentials-container .potentials-toolbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .application.sheet.dgns-character .attributes-skills-container {
    display: grid;
    padding: 0;
    margin: 0;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50% 50%;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
    row-gap: 5px;
    margin-bottom: 10px;
  }
  .application.sheet.dgns-character .attributes-skills-container .attribute-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    /*       &:hover {
      color: var(--dgns-ui-contrast);
    } */
  }
  .application.sheet.dgns-character .attributes-skills-container .attribute-group .attribute {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .application.sheet.dgns-character .attributes-skills-container .attribute-group .attribute label {
    font-family: var(--font-body);
    font-size: var(--font-size-18);
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0.05em;
  }
  .application.sheet.dgns-character .attributes-skills-container .attribute-group .attribute label.name {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .application.sheet.dgns-character .attributes-skills-container .attribute-group .attribute label.value {
    font-family: var(--font-body);
    font-weight: 600;
  }
  .application.sheet.dgns-character .attributes-skills-container .attribute-group .attribute input {
    width: 24px;
    height: 24px;
    padding: 0;
    line-height: normal;
    text-align: center;
    font-weight: 700;
  }
  .application.sheet.dgns-character .attributes-skills-container .attribute-group .skills {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    height: 100%;
    margin-top: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    gap: 5px;
  }
  .application.sheet.dgns-character .attributes-skills-container .attribute-group .skills .skill {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .application.sheet.dgns-character .attributes-skills-container .attribute-group .skills .skill label,
  .application.sheet.dgns-character .attributes-skills-container .attribute-group .skills .skill a {
    font-family: var(--font-serif);
    font-size: var(--font-size-16);
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }
  .application.sheet.dgns-character .attributes-skills-container .attribute-group .skills .skill label.name,
  .application.sheet.dgns-character .attributes-skills-container .attribute-group .skills .skill a.name {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .application.sheet.dgns-character .attributes-skills-container .attribute-group .skills .skill label.value,
  .application.sheet.dgns-character .attributes-skills-container .attribute-group .skills .skill a.value {
    font-family: var(--font-body);
    font-weight: 600;
  }
  .application.sheet.dgns-character .attributes-skills-container .attribute-group .skills .skill input {
    width: 24px;
    height: 24px;
    padding: 0;
    line-height: normal;
    text-align: center;
  }
}
/* 
    DEGENESIS@NEXT
    -------------
    Version  0.1

    */
@layer dgns.sheets.culture {
  .dgns-culture .sheet-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .dgns-culture .center-container-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 5px;
    /*  flex-shrink: 1;
    flex-basis: 10px; */
  }
  .dgns-culture .center-container-header input {
    background: none;
    border-radius: 0;
    border: 0;
    font-family: var(--font-sans);
    font-size: var(--font-size-14);
    color: var(--dgns-ui-primary);
    font-weight: 800;
    field-sizing: content;
  }
  .dgns-culture .center-container-header input.subtitle {
    margin-top: -5px;
  }
  .dgns-culture .center-container-header input:focus {
    outline-color: var(--dgns-ui-primary);
  }
  .dgns-culture .center-container-header .item-image {
    aspect-ratio: 1;
    max-width: 120px;
  }
  .dgns-culture .data-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .dgns-culture .data-container .effects-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
  .dgns-culture .data-container .effects-container > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .dgns-culture .lore-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .dgns-culture .description-container {
    margin: 0px 10px;
  }
  .dgns-culture .description-container table,
  .dgns-culture .description-container tr,
  .dgns-culture .description-container td {
    background: none;
    margin: 0;
  }
  .dgns-culture .description-container td:nth-child(1) {
    padding-left: 0px;
    padding-right: 5px;
  }
  .dgns-culture .description-container td:last-child {
    padding-left: 5px;
    padding-right: 0px;
  }
}
/* 
    DEGENESIS@NEXT
    -------------
    Version  0.1

    */
@layer dgns.sheets.concept {
  .dgns-concept .sheet-header {
    height: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .dgns-concept .center-container-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 5px;
    /*  flex-shrink: 1;
    flex-basis: 10px; */
  }
  .dgns-concept .center-container-header input {
    background: none;
    border-radius: 0;
    border: 0;
    font-family: var(--font-sans);
    font-size: var(--font-size-14);
    color: var(--dgns-ui-primary);
    font-weight: 800;
    field-sizing: content;
  }
  .dgns-concept .center-container-header input.subtitle {
    margin-top: -5px;
  }
  .dgns-concept .center-container-header input:focus {
    outline-color: var(--dgns-ui-primary);
  }
  .dgns-concept .center-container-header .item-image {
    aspect-ratio: 1;
    max-width: 225px;
  }
  .dgns-concept .data-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .dgns-concept .data-container .effects-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
  .dgns-concept .data-container .effects-container > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .dgns-concept .lore-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .dgns-concept .description-container {
    margin: 0px 10px;
  }
  .dgns-concept .description-container table,
  .dgns-concept .description-container tr,
  .dgns-concept .description-container td {
    background: none;
    margin: 0;
  }
  .dgns-concept .description-container td:nth-child(1) {
    padding-left: 0px;
    padding-right: 5px;
  }
  .dgns-concept .description-container td:last-child {
    padding-left: 5px;
    padding-right: 0px;
  }
}
/* 
    DEGENESIS@NEXT
    -------------
    Version  0.1

    */
@layer dgns.sheets.cult {
  .dgns-cult .sheet-header {
    height: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .dgns-cult .center-container-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 5px;
    /*  flex-shrink: 1;
    flex-basis: 10px; */
  }
  .dgns-cult .center-container-header input {
    background: none;
    border-radius: 0;
    border: 0;
    font-family: var(--font-sans);
    font-size: var(--font-size-14);
    color: var(--dgns-ui-primary);
    font-weight: 800;
    field-sizing: content;
  }
  .dgns-cult .center-container-header input.subtitle {
    margin-top: -5px;
  }
  .dgns-cult .center-container-header input:focus {
    outline-color: var(--dgns-ui-primary);
  }
  .dgns-cult .center-container-header .item-image {
    aspect-ratio: 1;
    max-width: 225px;
  }
  .dgns-cult .data-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .dgns-cult .data-container .effects-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .dgns-cult .data-container .effects-container > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .dgns-cult .lore-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .dgns-cult .description-container {
    margin: 0px 10px;
  }
  .dgns-cult .description-container table,
  .dgns-cult .description-container tr,
  .dgns-cult .description-container td {
    background: none;
    margin: 0;
  }
  .dgns-cult .description-container td:nth-child(1) {
    padding-left: 0px;
    padding-right: 5px;
  }
  .dgns-cult .description-container td:last-child {
    padding-left: 5px;
    padding-right: 0px;
  }
}
/* @use "sheets/sheet.common" as sheetCommon; // common set of css classes for functionality like dropdowns
@use "sheets/sheet.character" as sheetCharacter; // specific actorsheet classes
@use "sheets/sheet.culture" as sheetCulture; // specific style for item / culture sheet */
/* 
    DEGENESIS@NEXT
    -------------
    Version  0.1

    */
@layer dgns.sheets {
  .application.dgns-roll {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .application.dgns-roll input.field-input.difficulty {
    height: 48px;
    width: 64px;
    text-align: center;
    font-size: var(--font-size-32);
    font-weight: 700;
    border-bottom: 2px solid var(--c-gold);
    border-radius: 0px;
    outline: none;
  }
  .application.dgns-roll input.field-input.difficulty:hover {
    outline: 0;
    outline: none;
  }
  .application.dgns-roll input.field-input.difficulty:focus {
    outline: none;
  }
  .application.dgns-roll label {
    font-family: var(--font-serif);
    font-size: var(--font-size-18);
    text-transform: uppercase;
  }
  .application.dgns-roll .header {
    font-family: var(--font-serif);
    font-size: var(--font-size-32);
    text-transform: uppercase;
    text-align: center;
  }
  .application.dgns-roll .section-difficulty {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 70px;
    gap: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .application.dgns-roll .section-input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@layer foundry, dgns;