<div class="dropdown-content">

    <div class="description-text">
        Description placeholder for now.
        {{{description}}}
        <div class="item-properties">
            {{#if encumbrance}}
                <span><strong>Waga:</strong> {{encumbrance}}</span>
            {{/if}}
            {{#if tech}}
                <span><strong>Tech:</strong> {{tech}}</span>
            {{/if}}
        </div>
    </div>